{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "linebreak-style": 0,
    "no-fallthrough": 0,
    "react/prop-types": 0,
    "jsx-a11y/no-redundant-roles": 0,
    "arrow-parens": 0,
  }
}