$gray: #ddd;

body {
  font-size: 20px;
}

.navbar-brand {
  font-size: 23px;
  font-style: italic;
}

.ad {
  padding: 0;
  .ad_info_col {
    h1 {
      margin: 0;
      padding: 0 0 15px 0;
      border-bottom: 1px solid $gray;
      line-height: 1;
    }
    .row {
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px solid $gray;
      [class^="col"] {
        padding: 0;
      }
    }
  }
  .ad_image_col {
    img {
    }
  }
}

.ads {
  .row {
    [class^="col"] {
      padding-bottom: 10px;
    }
  }
}

.new_ad_form {
  .row {
    margin: 0;
    padding: 10px 0;
    [class^="col"] {
      padding: 0;
      button {
        float: right;
        font-size: 20px;
        margin: 0 0 0 5px;
      }
    }
    .selected_image {
      padding: 0;
    }
  }
  h1 {
    padding: 0 0 15px 0;
    border-bottom: 1px solid $gray;
    line-height: 1;
  }
}

.user_profile {
  .user_ads {
    [class^="col"] {
      padding-bottom: 10px;
    }
  }
  button {
    font-size: 20px;
    margin-bottom: 15px;
  }
}