@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web';
}

body {
	width: 100vw;
	height: 100vh;
	background: $gray0;
	color: #fff;
	font-size: 14px;
}

.custom.headerWrapper {
	background: $gray1;
}

.custom.header {
	justify-content: space-between;
	.sideMenuToggleButton {
		transition: all 0.2s ease-out;
		&:hover {
			color: $red;
		}
	}
	.mainNav {
		button {
			border-right: 1px solid $gray4;
			transition: all 0.2s ease-out;
			&:last-child {
				border: none;
			}
			&:hover {
				color: $red;
				background: none;
			}
		}
	}
	.newAdButton {
		background: $gray3;
		text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.1);
		transition: all 0.2s ease-out;
		&:hover {
			color: $red;
		}
	}
}

.custom.sideMenu {
	.header {
		display: flex;
		align-items: center;
		padding: 0 16px;
		min-height: 64px;
		box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
		.avatar {
			margin-right: 16px;
			background: $gray3;
		}
		.username {}
		.logoutButton {
			margin-left: auto;
			background: $gray3;
			color: #fff;
			&:hover {
				color: $red;
			}
		}
	}
	.MuiDrawer-paperAnchorLeft-72 {
		box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
		width: 33%;
		background: $gray1;
	}
}
