@import "~font-awesome/scss/font-awesome";

$fa-font-path: "../assets/fonts";
$gray: #ddd;
$blue: #337ab7;

body {
  padding-top: 70px;
  font-size: 20px;
}

h1 {
  margin: 0 0 20px;
  padding: 0 0 15px 0;
  border-bottom: 1px solid $gray;
  line-height: 1;
}

.navbar {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.home_cont {
  .pagination_cont {
    text-align: center;
  }
  .category_filter_cont {
    text-align: left;
    .btn-group {
      padding: 20px 0 0;
    }
    button {
      text-transform: capitalize;
      font-size: 18px;
    }
  }
}
.navbar-brand {
  font-size: 23px;
  font-style: italic;
}

.ads_cont {
  .item_cont {
    padding: 5px 15px;
    .item_img_cont {
      height: 220px;
    }
  }
}

.ad {
  padding: 0;
  .ad_info_col {
    .row {
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px solid $gray;
      [class^="col"] {
        padding: 0;
      }
    }
  }
  .ad_image_col {
    .active_image {
      margin: 0 0 10px 0;
      height: 450px;
    }
    .slider_image {
      height: 66px;
    }
    .image_slider {
      padding: 0 0 0 10px;
    }
    [class^="col"] {
      padding: 0 5px;
    }
  }
}

.new_ad_form {
  .row {
    margin: 0;
    padding: 10px 0;
    [class^="col"] {
      padding: 0;
      button {
        float: right;
        font-size: 20px;
        margin: 0 0 0 5px;
      }
    }
    .selected_image {
      padding: 0;
    }
  }
  h1 {
    padding: 0 0 15px 0;
    border-bottom: 1px solid $gray;
    line-height: 1;
  }
}

.user_profile {
  h1 {
    margin: 0 -9px 20px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid $gray;
    line-height: 1;
  }
  .ads_col {
    padding: 0;
  }
  .item_cont {
    padding: 3px 7px;
    .item_img_cont {
      height: 110px;
    }
  }
}